 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap'); 


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


body{
    background: #F3F5FC;
    min-height: 100vh;
}

main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.entrada{
    position: relative;
    flex-direction: column;
    display: flex;
    width: calc((1000/1440)*100%);
    max-height: 100vh;
    
  
}

.entrada .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 120px;
    height: 48px;
    margin: 4%  0 8% 4%;

}


.entrada .form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 24%;
    padding-right: 8%;
    padding-bottom: 72px;
    
}
.entrada .form #text-entrada{
    width: 100%;
    height: 28.125vh;
    border: none;
    /* margin: 1em 0; */
    resize: none;
    background: #F3F5FC;
}
#text-entrada, #text-entrada::placeholder, #text-salida{
   color: #0A3871;
   font-weight: 400;
   font-size: 2rem;
}

.entrada form p{
    position: relative;
    padding-top: 38.57vh;
    padding-bottom: 16px;
}

.entrada .form .botones{
    display: flex;
    position: relative;
    
}

.botones #desencriptar, #copiar-des{
    color:#0A3871;
    background: #D8DFE8;
    height: 67px;
    width: 328px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 24px;
    }
.botones #encriptar{
    color: white;
    background: #0A3871;
    height: 67px;
    width: 328px;
    border-radius: 24px;
    font-size: 24px;
    border: none;
    margin-right: 1em;
}

.salida{
    position: relative;
    flex-direction: column;
    display: flex;
    width: calc((440/1440)*100%);
    height: 100vh; 
    padding-top: 40px;   
    padding-right: 2.78%;
}
.salida .contenedor{
    height: 100vh;
    width: 100%;
    background: #FFFFFF;  
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px; 
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.salida .contenedor #copiar-des{
    position: relative;
    margin-bottom: 32px;
    max-width: 80%;
    
}
.salida .contenedor #nino{
    width: 100%;
}

#text-salida{
    visibility: hidden;
    width: 100%;
}